<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
</head>
<body>
  <style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  </style>


  <div style="background:#F9F9F9; max-width:900px; margin:0 auto; width:100%; padding:2em .5em;box-sizing:border-box;">
    <div style="text-align:center">
      <img src={{orgLogo}} width="100">
    </div>

    <div style="background:#fff; border-radius:15px; max-width:800px; width:100%; margin:2em auto;
    padding:2em; box-sizing:border-box; box-shadow:0 1px 7px rgba(0,0,0,.07);">
    <div style="font-size:24px; font-weight:600; color:#4B0082; margin-bottom:1em;">
      Dear {{username}},
    </div>
    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
      Greetings from {{orgName}}. We are excited to offer you a near physical classroom experience on this platform. <br>
      <br><br>
      You can login using the following credentials at <a href="https://{{url}}">{{url}}</a>:<br />
      <table>
        <tr>
          <td> email:</td>
          <td> {{email}}</td>
        </tr>
        <tr>
          <td> password:</td>
          <td><a href="{{link}}">Click here</a> to generate your password!</td>
        </tr>
        <tr>
          <p>Use this link on a browser if above link is not working</p>
          <p>{{link}}</p>
        </tr>
      </table><br />

      Or you can also login  through OTP on your registered phone number (<span style="color: #1a54af">{{phone}}</span>)<br /><br />

    <br />
    <br />
    </div>


    
    {{#if playStoreLink}} 
      <div style="color:#333333; font-size:18px; margin-bottom:1em;">

      You can download the app through the links given below.

      <div style="display:flex;margin-top:10px;">
        {{!-- {{#if appStoreLink && appStoreLink !== ""}}<a href={{appStoreLink}}><img src="cid:apple" width="50%"></a>{{/if}} --}}
        <a href="https://apps.apple.com/in/app/aulas/id1564724183"><img src="cid:apple" width="50%"></a>
        {{#if playStoreLink}}<a href={{playStoreLink}}><img src="cid:playstore" width="50%"></a>{{/if}}
      </div>
    </div>
    {{else}}
      <div style="color:#333333; font-size:18px; margin-bottom:1em;">

        You can download the aulas app through the links given below.

        <div style="display:flex;margin-top:10px;">
          <a href="https://apps.apple.com/in/app/aulas/id1564724183"><img src="cid:apple" width="50%"></a>
          <a href="https://play.google.com/store/apps/details?id=com.classroom.aulas"><img src="cid:playstore" width="50%"></a>
        </div>
      </div>
    {{/if}}


    <br><br>
    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
      Best Regards,<br />
      {{orgName}} <br>

    </div>
  </div>
    <img src="cid:bottom_border@2x" width="100%">


  <div style="text-align: center; margin-top:1em; ">
    <div style="color:#737373; font-size:13px; ">Made with ❤ in India</div>
  </div>
</div>

</body>
</html>
